
#gallery{
  width:100%;
  height:100%;
}


.gallery-category-container{
  width:60%;
  height:15vh;
  display: flex;
  align-items: flex-end;
  margin:auto;
}
.user-gallery-main-container{
  
     width:85%;
     height:75vh;
     overflow-y:scroll;
     margin:auto;
     display: grid;
     grid-gap:10px;
     grid-template-columns: repeat(5,1fr);
     padding:20px;
    
}


.user-gallery-main-container img{
  
   width:100%;
   height:250px;
   
   object-fit: cover;
   border-radius:5px;
   filter:brightness(0.8);

 
}

