@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Source+Code+Pro&display=swap");

.main-navbar {
  background: #fffbf2 !important;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-size: 18px;
  z-index: 99;
  padding: 0 !important;
}

.nav-container {
  border-bottom: 4px solid #f9d974;
  background: #fffbf2;
  padding: 5px;
}
.nav-link .active {
  background: green;
}
.nav-icon {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
}
.nav-facebook {
  color: blue;
}
.nav-insta {
  color: red;
}
@media screen and (min-width: 992px) {
  .main-navbar {
    display: flex;
  }
  .nav-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }
  .nav-brand {
    z-index: 99;
    height: auto;
    width: 100px;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    position: relative;
    margin: 0 10px;
  }
  .nav-main-logo {
    position: absolute;
    height: 100px;
    width: 100%;
    border: 1px solid #f9d974;
    
  }
  #basic-navbar-nav {
    width: 20%;
  }
}
