@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Source+Code+Pro&display=swap");

.main-navbar {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-size: 18px;
  z-index: 99;
  padding: 0 !important;
}

.nav-container {
  border-bottom: 4px solid #f9d974;
  background: #851616;
}
.navbar-toggler {
  border: 1px solid #fff !important;
}
.nav-link {
  color: #fff !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: #851616 !important;
  background-color: #f9d974 !important;
}
.nav-icon {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
}
.nav-facebook {
  color: blue;
}
.nav-insta {
  color: red;
}
.nav-main-logo {
  height: auto !important;
  width: 100%;
  border: 1px solid #f9d974;
  background-color: #fff;
}
.nav-main-logo img {
  height: 50px !important;
}
@media screen and (min-width: 992px) {
  .main-navbar {
    display: flex;
  }
  .nav-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }
  .nav-brand {
    z-index: 99;
    height: auto;
    width: 100px;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    position: relative;
    margin: 0 10px;
  }
  .nav-main-logo {
    position: absolute;
    height: 100px;
    width: 100%;
    border: 1px solid #f9d974;
  }
  .nav-main-logo img {
    height: auto !important;
  }
  #basic-navbar-nav {
    width: 20%;
  }
}
